<dx-data-grid
  [dataSource]="detailDataSource"
  [showBorders]="true"
  [columnAutoWidth]="true"
>
  <dxi-column dataField="country" dataType="string"></dxi-column>
  <dxi-column dataField="currency" dataType="string"></dxi-column>
  <dxi-column dataField="exchange" dataType="string"></dxi-column>
  <dxi-column dataField="finnhubIndustry" dataType="string"></dxi-column>
  <dxi-column dataField="ipo" dataType="date"></dxi-column>
  <dxi-column dataField="logo" dataType="image"></dxi-column>
  <dxi-column dataField="marketCapitalization" dataType="number"></dxi-column>
  <dxi-column dataField="name" dataType="string"></dxi-column>
  <dxi-column dataField="phone" dataType="string"></dxi-column>
  <dxi-column dataField="shareOutstanding" dataType="number"></dxi-column>
  <dxi-column dataField="ticker" dataType="string"></dxi-column>
  <dxi-column dataField="weburl" dataType="string"></dxi-column>
</dx-data-grid>
